DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=

DB_ADMIN=if0_42370337_human_care_admin
DB_PATIENTS=if0_42370337_human_care_patients
DB_DOCTORS=if0_42370337_human_care_doctors
DB_SECURITY=if0_42370337_security_logs_db